#background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/blue.jpg");
    background-size: cover;
}

#layer-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/10_distant_clouds.png");
    background-size: cover;
}

#layer-2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/09_distant_clouds1.png");
    background-size: cover;
}

#layer-3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/08_clouds.png");
    background-size: cover;
}

#layer-4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/03_distant_trees.png");
    background-size: cover;
    background-position: bottom;
}

#layer-5 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/02_trees and bushes.png");
    background-size: cover;
    background-position: bottom;
}

#layer-6 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/01_ground.png");
    background-size: cover;
    background-position: bottom;
}

#layer-test {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/aquatic_plants01.png");
    background-position: bottom;
    background-repeat: repeat-x;
}

#layer-player {
    bottom: 30px;
    position: absolute;
    left: calc(50%);
    height: 200px;
    width: 200px;
    background-image: url("img/idle.gif");
    background-size: contain;
    background-repeat: no-repeat;
}