body {
    overflow: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/11_background.png");
    background-size: cover;
}

#layer-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/10_distant_clouds.png");
    background-size: cover;
}

#layer-2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/09_distant_clouds1.png"), url("img/07_huge_clouds.png");
    background-size: cover;
}

#layer-3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/08_clouds.png");
    background-size: cover;
}

#layer-4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/03_distant_trees.png");
    background-size: cover;
    background-position: bottom;
}

#layer-5 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/02_trees and bushes.png");
    background-size: cover;
    background-position: bottom;
}

#layer-6 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/01_ground.png");
    background-size: cover;
    background-position: bottom;
}

#layer-test {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/aquatic_plants01.png");
    background-position: bottom;
    background-repeat: repeat-x;
}

#layer-player {
    position: absolute;
    bottom: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    background-image: url("img/bee_nb.gif");
    background-size: cover;
    background-repeat: no-repeat;
}